<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
<connectionStrings>
  <add connectionString="Data Source=172.16.56.127;Initial Catalog=EM_Test;Persist Security Info=false;User ID=emtest;Password=em6yhn^YHN^765" name="connection"/>
<add connectionString="Data Source=58.211.231.162;Initial Catalog=zjbjdj;Persist Security Info=false;User ID=bjdj;Password=11111" name="connection2"/>
</connectionStrings>
</configuration>